@use "sass:map";

.wrapper {
  display: flex;
  min-height: 120px;
  background-color: #1a1a17;
  outline: 1px solid darken(#1a1a17, 10%);

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    flex-basis: 5em;
    flex-shrink: 0;
    outline: 1px solid darken(#1a1a17, 10%);

    $backgroundColours: (
      "S": #ff7f7f,
      "A": #ffbf7f,
      "B": #ffdf7f,
      "C": #ffff7f,
      "D": #bfff7f,
    );

    @each $name, $color in $backgroundColours {
      &[data-label="#{$name}"] {
        background-color: $color;
        box-shadow: #0000004d 0px 3px 8px;
      }
    }
  }

  .container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}
